.App {
  text-align: center;
}

.main-container {

}

.boxes {
  display: flex;
}

.versus {
  position: absolute;
  top: 40%;
  left: 46%;
  font-size: 40px;
}

.main-left {
  width: 48%;
  height: 300px;
  background-color: red;
  box-sizing: border-box;
    color: white;
  z-index: 100;
  font-weight: bold;
}

.main-left:hover {
  border: 3px solid black;
  cursor: pointer;
}

.main-right {
  width: 48%;
  height: 300px;
  background-color: blue;
  color: white;
  box-sizing: border-box;
  z-index: 100;
  font-weight: bold;
}

.main-right:hover {
  border: 3px solid white;
  cursor: pointer;
}
