.App {
  text-align: center;
}

.main-container {

}

.boxes {
  display: flex;
}

.versus {
  position: absolute;
  top: 40%;
  left: 46%;
  font-size: 40px;
}

.main-left {
  width: 48%;
  height: 400px;
  background-color: red;
  box-sizing: border-box;
}

.main-left:hover {
  border: 3px solid black;
}

.main-right {
  width: 48%;
  height: 400px;
  background-color: blue;
  box-sizing: border-box;
}

.main-right:hover {
  border: 3px solid white;
}
