.App {
  text-align: center;
}

.main-container {
  display: flex;
}

.main-left {
  width: 48%;
  height: 400px;
  background-color: red;
}

.main-left:hover {
  border: 3px solid black;
}

.main-right {
  width: 48%;
  height: 400px;
  background-color: blue;
}

.main-right:hover {
  border: 3px solid white;
}
